/* stylelint-disable */
.MCEventIntro-details _:-ms-input-placeholder,
:root .MCEventIntro-details {
  width: calc((100% * 3 / 6) - 1px);
}
.MCHalfWidthFullBleedHero-imgWrapper {
  overflow: visible;
}
.MCHalfWidthFullBleedHero-contentWrapper {
  padding: 80px 25%;
}
.MCItemCarouselCaption {
}
body.has-touch .MCItemCarouselCaption {
  opacity: 1;
}
.MCItemCarouselIntro-wrapper {
  display: -ms-flexbox;
  display: flex;
}
.MCItemCarouselIntro-group {
  -ms-flex: 1;
  flex: 1;
}
.MCItemCarouselIntro-group:first-child {
  margin-right: 34px;
}
.MCItemCarouselIntro-title {
  margin-bottom: 0;
}
.MCList-title {
  font-size: 2.2rem;
}

/*Header_writtern Section*/
.written_sec {
  width: 50%;
  height: 749px;
  float: none;
  padding-top: 1px;
  align-items: center;
}
.written_sec {
  display: flex;
  align-items: center;
  justify-items: center;
}
.written_sec_a {
  width: 100%;
  height: 550px;
  padding-top: 20%;
}

.content_section {
  // width: 45%;
  width: 512px;
  max-width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.content_section h2 {
  text-align: left;
  line-height: 40px;
  font-family: ZapfHumanist, sans-serif;
  font-size: 30px;
  font-size: calc(var(--maintitlesize) * 1px);
  font-weight: 200;
  padding-top: 20px;
  word-spacing: 6px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  border-bottom: 2px solid #333333;
}
.content_section_2 {
  // width: 45%;
  width: 512px;
  max-width: 100%;
  padding: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  font-family: SuisseThin, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.content_section_2 p {
  margin-top: 30px;
}
.content_section_3 {
  // width: 45%;
  /* text-align: center; */
  width: 512px;
  max-width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  line-height: 25px;
  font-family: SuisseThin, sans-serif;
  cursor: pointer;
  transition: all 0.6s ease;
}
.content_section_3 a {
  color: #333333;
  padding: 22px 38px;
  font-weight: 600;
  border: 1px solid #888;
  text-decoration: none;
  transition: all 0.6s ease;
  font-size: 1.4rem;
}
.content_section_3 a {
  svg {
    width: 33px;
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
    fill: #888888 !important;
  }
  &:hover {
    svg {
      fill: #fffef2 !important;
      fill: var(--main_bgcolor) !important;
    }
  }
}
.content_section_3 a:hover {
  background: #333;
  fill: #fffef2;
  color: #fffef2;
  fill: var(--main_bgcolor);
  color: var(--main_bgcolor);
  transition: all 0.6s ease;
}
.img_sec {
  width: 50%;
  height: 749px;
  float: right;
  // margin-top: -55.5%;
}
.header-img-sec img {
  width: 100%;
}
.img_header_sec {
  margin-top: -80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #f6f5e8;
}

// Media Query FOr Writtern Section
@media (max-width: 315px) {
  .content_section_3 {
    // width: 200%;
  }
}
@media (max-width: 670px) {
  .content_section {
    width: 100%;
  }

  .content_section_2 {
    width: 100%;
  }

  .content_section_3 {
    width: 100%;
  }
}
@media (max-width: 1155px) {
  .content_section_3 {
    // width: 51%;
  }
}
@media (max-width: 1024px) {
  .content_section_3 {
    // width: 45%;
  }
  .written_sec_a {
    padding-top: 0;
    padding-bottom: 10%;
  }
}

@media (max-width: 1024px) {
  .img_header_sec {
    display: flex;
    flex-direction: column-reverse;
  }
  .written_sec {
    width: 100% !important;
    height: auto !important;
    margin-top: 31px;
    display: flex;
    flex-direction: column-reverse;
  }
  .logo {
    display: none;
  }
  .img_sec {
    width: 100% !important;
    height: auto !important;
    float: none;
    margin-top: 0 !important;
  }
  .written_sec_a {
    width: calc(100% - 100px);
  }
}
// Banner Slider Hover Effect

@media (max-width: 650px) {
  .written_sec_a {
    width: calc(100% - 30px);
    height: auto;
  }
}
