.cart-product-div {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  @include defaultBorderBottom;
}

.cart-product-image-wrap {
  width: 180px;
  text-align: center;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.cart-product-detail {
  width: calc(100% - 180px);
}
.cart-product-name,
.product-info {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.product-options {
  display: flex;
  flex-wrap: wrap;
}
.cart-product-header {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 2px solid #333;
}
.cart-product-remove {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 0;
  top: 0;
  border: 1px solid #333;
  &:hover {
    color: #fffef2;
    color: var(--main_bgcolor);
    background-color: #333;
  }
}
.order-summary-wrapper {
  padding: 15px;
  // border: 1px solid;
  height: 100%;
  .cart-heading {
    padding-bottom: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
  }
}
.order-summary-row {
  &:not(.nbr) {
    @include defaultBorderBottom;
    padding-bottom: 10px;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &.lr {
    display: flex;
    justify-content: space-between;
  }
  .order-summary-label {
    margin-bottom: 0;
  }
}
.order-summary-btns {
  .btn {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .cart-product-div {
    flex-wrap: wrap;
  }
  .cart-product-detail {
    width: 100%;
  }
  .cart-product-image-wrap {
    width: 100%;
  }
}
