.App {
  background-color: $lightTwo;
}
.hide {
  display: none;
}
.first_sec {
  padding-top: 30px;
}
body.theme-alabaster-2 .Aesop,
.Aesop .theme-alabaster-2 {
  background-color: #f6f5e8;
}
html {
  font-size: 0.625em;

  /* for CJK languages we don't want word breaks */
}
html[lang="ko"] {
  font-family: "Suisse Regular", sans-serif;
  word-break: keep-all;
}
body {
  font-family: "Suisse Regular", sans-serif;
  font-size: 1.6rem;
  font-size: calc(var(--body-font-size) * 1px);
  -webkit-font-smoothing: antialiased;
  color: var(--maintextcolor);
}
p {
  font-size: calc(var(--body-font-size) * 1px);
  color: var(--maintextcolor);
}
.has-checkbox-input {
  input {
    display: none;
  }
  .CheckIcon {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 12px;
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
      left: 0px;
      right: 0px;
      margin: auto;
      top: 0;
      bottom: 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &.checked {
      &::before {
        opacity: 1;
      }
    }
  }
}

.container-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.top-gap {
  padding-top: 50px;
}
.tgl-btn {
  cursor: pointer;
  & > div {
    transition: all 0.4s;
  }
  &.opened > div {
    transform: rotate(45deg);
  }
}
.btn-main {
  background-color: $btnBg;
  border: none;
  color: #ffffff;
  padding: 15px 90px;
  cursor: pointer;
  font-size: 1.6rem;
  &:hover {
    background-color: $btnBg;
    color: #fff;
  }
}
.has-input {
  label {
    font-size: 1.6rem;
    display: block;
  }
  input {
    &[type="text"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="number"] {
      width: 100%;
      height: 40px;
      background: transparent;
      border: 1px solid rgba(51, 51, 51, 0.2);
      margin-bottom: 20px;
      padding: 10px 15px;
    }
    &:focus {
      outline: none;
    }
  }
}
*,
button,
input {
  &:focus {
    outline: none;
  }
}

button {
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.Picture {
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.container-extend {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.start-section {
  padding-top: 250px;
}
.btn {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  // height: 40px;
  line-height: 30px;
}
.btn-red {
  color: #fff;
  background-color: #f44336;
  border: 1px solid #f44336;
  &:hover {
    color: #fff;
    background-color: #d6291c;
  }
}
.btn-blue {
  color: #fff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  &:hover {
    color: #fff;
    background-color: #0d7edb;
  }
}
.btn-light-grey {
  background-color: #cccccc;
  border: 1px solid #cccccc;
  &:hover {
    color: #fff;
    background-color: #9e9e9e;
  }
}
.btn-outline-shopping {
  border: 1px solid #333;
  &:hover {
    color: #fff;
    background-color: #333;
  }
}
@media (min-width: 650px) {
  .container-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-gap {
    padding-top: 80px;
  }

  .first_sec {
    padding-top: 150px;
  }

  .container-extend {
    width: calc(100% - 60px);
  }
}
@media (min-width: 1025px) {
  .container-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
  .top-gap {
    padding-top: 150px;
  }
  .container-extend {
    width: calc(100% - 120px);
  }
}
@media (min-width: 1200px) {
  .container-extend {
    width: calc(100% - 250px);
  }
}
@media (max-width: 639px) {
  .start-section {
    padding-top: 50px;
  }
}
