.owl-carousel-type-1 .owl-stage {
  height: 400px;
}
.owl-item {
  height: 100%;
}
.owl-carousel-type-1.owl-carousel {
  padding-top: 150px;
  padding-bottom: 150px;
  .owl-inside-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .owl-stage {
    display: flex;
    align-items: flex-end;
  }
  .owl-item {
    img {
      width: auto;
      margin: auto;
    }
  }
  .text-inside {
    width: 100%;
    h4 {
      padding: 0px 0px 0px 105px;
      font-family: ZapfHumanist, sans-serif;
      font-weight: 400;
      font-size: 30px;
    }
    p {
      padding: 10px 0px 0px 105px;
      font-size: 14px;
      font-family: SuisseThin, sans-serif;
      font-weight: 600;
      line-height: 23px;
    }
  }
  .insite-btn {
    margin-bottom: 20px;
    padding: 0px 0px 0px 105px;
    font-size: 14px;
    a {
      color: #333333;
      text-decoration: none;
      font-family: SuisseReg, sans-serif;
      word-spacing: 1px;
      letter-spacing: 1px;
    }
    svg {
      width: 30px;
      padding-left: 17px;
      display: inline-block;
      vertical-align: middle;
      fill: #333333 !important;
    }
  }
  .owl-nav {
    button {
      &.owl-next,
      &.owl-prev {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 50px;
        color: #fff;
        background: #555;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          line-height: 25px;
          display: block;
          margin-top: -16px;
        }
        &:focus {
          outline: none;
        }
      }
      &.owl-next {
        right: 0;
      }
      &.owl-prev {
        left: 0;
      }
    }
  }
}
.Picture {
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.MCItemCarousel .flickity-slider * {
  -ms-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.MCItemCarousel-viewport {
  margin-bottom: 10px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}
.MCItemCarousel-Item {
  bottom: 0;
  width: 100%;
}
.MCItemCarouselProduct-wrapper {
  display: block;
}
.MCItemCarouselProduct-picture {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.MCItemCarouselProduct-picture > img {
  display: block;
  margin: 0 auto;
  max-height: 360px;
  max-width: 100%;
}
.MCItemCarouselCaption {
  font-size: 14px; //1.4rem;
  left: 0;
  line-height: 1.6;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(100% + 80px);
  transition: opacity 300ms ease;
  width: 100%;
}
.MCItemCarouselCaption-link {
  display: block;
  &:hover {
    text-decoration: none;
  }
}
.MCItemCarouselCaption-title {
  font-family: "Suisse Medium", sans-serif;
  color: #333;
  display: inline;
  padding-bottom: 1px;
  font-size: 1.4rem;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom-color: #333;
  }
}
body:not(.has-touch) .MCItemCarousel-Item:hover .MCItemCarouselCaption {
  opacity: 1;
}
.MCItemCarousel-viewport .flickity-slider {
  height: 100%;
}
.MCItemCarousel-viewport *:focus {
  outline: none;
}
.MCCarouselNav {
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.001);
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 80px;
  z-index: 100;
}
.MCCarouselNav--next {
  -ms-flex-pack: end;
  justify-content: flex-end;
  right: 0;
}
.MCCarouselNav--prev {
  -ms-flex-pack: start;
  justify-content: flex-start;
  left: 0;
}
.MCItemCarousel {
  overflow: hidden;
  padding-bottom: 150px;
  padding-top: 60px;
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.MCCarouselScrollbar {
  background-color: #ccc;
  bottom: 0;
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}
.MCCarouselScrollbar-bar {
  background-color: #333;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  will-change: left /* Accelerate CSS transition */;
}
.MCItemCarouselIntro-title,
.MCItemCarouselIntro-copy {
  margin-bottom: 34px;
}
.MCItemCarouselIntro-title {
  // font-family: "Zapf Humanist", serif;
  font-weight: 300;
  font-size: 25px; // 2.5rem;
  line-height: 1.4;
}

.MCItemCarouselIntro-link {
  font-family: "Suisse Medium", sans-serif;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px; // 1.4rem;
  z-index: 1300;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}
.MCItemCarouselIntro-linkIcon {
  display: block;
  height: 13px;
  margin: 3px 0 0 20px;
  width: 13px;
}
@media (min-width: 640px) {
  .MCItemCarousel-viewport {
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    margin: 0 34px 34px;
    max-height: 450px;
    max-width: calc(100% - 70px);
  }
  .MCItemCarousel-Item {
    width: 40%;
  }
  .MCItemCarouselProduct-picture {
    -ms-flex-align: end;
    align-items: flex-end;
    height: auto;
    max-height: 400px;
  }
  .MCItemCarouselProduct-picture > img {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: auto;
    max-height: 400px;
    width: auto;
  }
  .MCItemCarouselCaption {
    padding: 0 10px;
  }
  .MCItemCarousel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .MCItemCarousel.MCItemCarousel--hasIntro {
    padding-bottom: 130px;
    padding-top: 130px;
  }
  .MCItemCarouselIntro-title {
    font-size: 30px; //3rem;
    line-height: 1.33;
  }
}
@media (min-width: 1025px) {
  .MCItemCarousel-viewport {
    margin: 0 80px 40px;
    padding-bottom: 0;
    max-width: calc(100% - 160px);
  }
  .MCItemCarousel-productWrapper .MCItemCarouselIntro {
    display: block;
    height: 100%;
    margin: 0;
    max-width: 328px;
    padding: 0;
    width: 25%;
  }
  .MCItemCarousel-Item {
    max-width: 450px;
    width: 35%;
  }
  .MCItemCarousel-productWrapper .MCItemCarouselIntro {
    display: block;
    height: 100%;
    margin: 0;
    max-width: 328px;
    padding: 0;
    width: 25%;
  }
  .MCItemCarouselIntro-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  .MCItemCarouselIntro-group {
    flex: 0 1;
  }
  .MCItemCarouselIntro-group:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .MCItemCarouselIntro-title,
  .MCItemCarouselIntro-copy {
    margin-bottom: 20px;
  }
  .MCItemCarouselIntro-title,
  .MCItemCarouselIntro-copy {
    margin-bottom: 20px;
  }
  .MCItemCarouselIntro-copyParagraph {
    line-height: 1.7;
    font-size: 14px; //1.4rem;
  }
  .MCItemCarouselProduct-picture {
    height: 440px;
    max-height: none;
  }
  .MCItemCarouselProduct-picture > img {
    max-height: 100%;
  }
  .MCCarouselNav {
    width: 150px;
  }
  .MCItemCarousel {
    opacity: 0;
    transition: opacity 900ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .MCItemCarousel.MCItemCarousel--hasIntro {
    padding-bottom: 150px;
    padding-top: 100px;
  }
  .MCItemCarousel.is-visible {
    opacity: 1;
  }
  .MCCarouselScrollbar {
    bottom: -50px;
  }
  .MCItemCarousel-viewport .MCCarouselScrollbar {
    bottom: -40px;
  }
}

// temp

.MCCarouselNav,
.flickity-button {
  display: none !important;
}
