.PDPExpectations-fullImageWrapper {
  display: block;
  overflow: hidden;
  width: 100%;
}
.PDPExpectations-fullImageInner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
}
.PDPExpectations-fullImage {
  display: block;
  height: auto;
  margin: auto;
}
.PDPExpectations-fullImage img {
  height: auto;
  width: 100%;
}
.PDPExpectationsContent-wrapper {
  color: #333;
}
.PDPExpectationsContentSummary-type {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Suisse Medium", sans-serif;
  color: #333;
  padding: 0 0 19px;
}
.PDPExpectationsContentSummary-title {
  font-family: "Zapf Humanist", serif;
  font-size: 2.5rem;
  line-height: 1.4;
  color: $mainColor;
  padding: 0 0 38px;
}
.PDPExpectationsContentList-details {
  font-size: 14px;
  line-height: 1.4;
  border-top: 2px solid #333;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.PDPExpectationsContentList-details {
  line-height: 1.7;
}
.PDPExpectationsContentList-detailsItem {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  padding: 26px 0;
}
.PDPExpectationsContentList-detailsItem:nth-of-type(1) {
  transition-delay: calc((1 * 100ms) + 0ms);
}
.PDPExpectationsContentList-detailsHeadline {
  font-family: "Suisse Medium", sans-serif;
  display: block;
  padding: 0 0 5px;
}
.PDPExpectationsContentList-detailDescription {
  color: #666;
  display: block;
}
.PDPExpectationsContent-inner {
  width: 650px;
  max-width: calc(100% - 40px);
  margin: auto;
}
@media (min-width: 640px) {
  .PDPExpectationsContentSummary-type {
    line-height: 1.7;
  }
  .PDPExpectationsContentSummary-title {
    font-size: 3rem;
    line-height: 1.33;
  }
  .PDPExpectationsContentSummary-title {
    padding: 0 0 12px;
  }
  .PDPExpectationsContent-sectionTwo {
    padding-top: 6px;
  }
  .PDPExpectationsContentList-detailsItem {
    padding: 14px 0;
  }
}
@media (min-width: 1025px) {
  .PDPExpectations-wrapper {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }
  .PDPExpectations-fullImageWrapper {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 6 / 12);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .is-visible .PDPExpectations-fullImageInner {
    opacity: 1;
  }
  .PDPExpectations-fullImageInner {
    opacity: 0;
    transition: opacity 800ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .PDPExpectations-fullImage {
    display: block;
    height: 100%;
    margin: 0;
  }
  .PDPExpectations-fullImageWrapper--withObjectFit .PDPExpectations-fullImage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .PDPExpectations-fullImage img {
    height: 100%;
    transform: translateX(-50%);
  }
  .PDPExpectations-fullImageWrapper--withObjectFit
    .PDPExpectations-fullImage
    img {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    object-fit: cover;
    transform: none;
    width: 100%;
  }
  .PDPExpectationsContent-wrapper {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(100% * 6 / 12);
    display: -ms-flexbox;
    display: flex;
  }
  .PDPExpectationsContent-sectionOne {
    opacity: 0;
    transition: opacity 900ms 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .is-visible .PDPExpectationsContent-sectionOne {
    opacity: 1;
  }
  .PDPExpectationsContentSummary-type {
    padding: 0 0 14px;
  }
  .PDPExpectationsContent-sectionTwo {
    padding-top: 0;
  }
  .PDPExpectationsContentList-details {
    opacity: 0;
    transition: opacity 900ms 310ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .is-visible .PDPExpectationsContentList-details {
    opacity: 1;
  }
  .PDPExpectationsContentList-detailsItem {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 900ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .is-visible .PDPExpectationsContentList-detailsItem {
    opacity: 1;
    transform: none;
  }
}
@media (min-width: 1220px) {
  .PDPExpectationsContentSummary-type {
    padding: 0 0 19px;
  }
  .PDPExpectationsContentSummary-title {
    padding: 0 0 17px;
  }
}
